extends base

block body
    <div class="main-banner">
        <div class="container">
            <div class="pull-left padding-30" style="position: absolute; z-index: 1;top: 50px;">
                <i class="fa fa-map-marker text-green fs-18" aria-hidden="true"></i>
                <span class="fs-13 fw-500" id="demo"></span>
                <script src="http://maps.google.com/maps/api/js?key=AIzaSyC68vK_o3FBLbX5bnvSMHAaADptBCQTIb4"></script>
            </div>
            <nav class="navbar navbar-inverse navbar-home">
                <div class="container-fluid no-padding">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/home"><img src="images/rt-b.png" alt="reservtable" class="img-responsive" width="80%"></a>
                    </div>

                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#" class="text-grey-3 fw-600 m-t-15">CONTACT US</a></li>
                            <li class="active"><a href="/menu" class="text-grey-3 fw-600 m-t-15">RESTAURANTS</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div id="content">
        <div class="container m-t-30 m-b-30">
            <div class="row">
                <div class="col-lg-offset-4 col-lg-4" id="profile">
                    <h2 class="fw-600 text-grey-3 text-center">Forgot your password?</h2>
                    <hr>
                    <form class="m-t-30" role="form" action="/login" method="post">
                        <fieldset>
                            if validations!=null
                                <div class="alert alert-danger">
                                    each val in validations
                                        <li> #{val.message} </li>
                                </div>
                            <div class="form-group">
                                <input class="inp" placeholder="E-mail" name="username" autofocus value="#{form!=null?form.username:''}">
                                <p class="help-block alert-danger">#{form != null ? form.getErrors("username") : ''}</p>
                            </div>
                            <div class="col-lg-12">
                                <input class="btn btn-rounded btn-green pull-right" value="Reset" type="submit">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>