extends base

block body
  <div class="main-banner">
    <div class="pull-left padding-30" style="position: absolute; z-index: 1;top: 50px;">
      <i class="fa fa-map-marker text-green fs-18" aria-hidden="true"></i>
      <span class="text-white fs-13" id="demo"></span>
      <script src="http://maps.google.com/maps/api/js?key=AIzaSyC68vK_o3FBLbX5bnvSMHAaADptBCQTIb4"></script>
    </div>
    <nav class="navbar navbar-inverse navbar-home">
      <div class="container-fluid no-padding">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home"><img src="images/rt.png" alt="reservtable" class="img-responsive" width="80%"></a>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="/register-restaurant">
                <button class="btn btn-rounded btn-green fs-12">REGISTER YOUR RESTAURANT</button>
              </a>
            </li>
            <li><a href="/restaurants" class="login-window text-white m-t-15">RESTAURANTS</a></li>
            <li><a href="/search" class="openBtn m-t-10">
              <img src="images/search.png" width="25"></a>
            </li>
          </ul>
        </div>
        //<div class="pull-right padding-30">
        //    <form>
        //        <input type="text" name="search" placeholder="Search..">
        //    </form>
        //</div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="text-pos">
          <div class="z-index relative">
            <p class="text-white finest-text">Time to reserve your favourite table</p>
          </div>
          <div class="z-index relative m-l-30 m-t-30">
              <a href="/restaurants" class="btn btn-green btn-rounded">BOOK TABLE</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="featured-banner col-md-12 col-sm-12 col-xs-12"></div>
    </div>

    //<div id="myOverlay" class="overlay">
      //<span class="closebtn" ><i class="fa fa-times" aria-hidden="true"></i></span>
      //<div class="overlay-content">
        //<form action="/search" id="searchForm" method="post">
          //<input type="text" id="searchBox" name="searchBox" placeholder="Search..">
          //<button type="submit"><i class="fa fa-search"></i></button>
        //</form>
      //</div>
    //</div>
  </div>
