extends base

block body
  <div class="main-banner">
    <div class="container">
      //<div class="pull-left padding-30" style="position: absolute; z-index: 1;top: 50px;">
      //  <i class="fa fa-map-marker text-green fs-18" aria-hidden="true"></i>
      //  <span class="fs-13 fw-500 text-grey-3" id="demo"></span>
      //  <script src="http://maps.google.com/maps/api/js?key=AIzaSyC68vK_o3FBLbX5bnvSMHAaADptBCQTIb4"></script>
      //</div>
      <nav class="navbar navbar-inverse navbar-home">
        <div class="container-fluid no-padding">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar" style="background-color: #333;"></span>
              <span class="icon-bar" style="background-color: #333;"></span>
              <span class="icon-bar" style="background-color: #333;"></span>
            </button>
            <a class="navbar-brand" href="/home"><img src="../images/rt-b.png" alt="reservtable" class="img-responsive img-res-in"></a>
          </div>

          <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/contact" class="text-grey-3 fw-600 m-t-15">CONTACT US</a></li>
              <li class="active"><a href="/restaurants" class="text-grey-3 fw-600 m-t-15">RESTAURANTS</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div id="content">
    <div class="container m-b-30">
      <div class="row">
        <div class="col-lg-12" id="profile">
          <h2 class="fw-600 text-grey-3 text-center">Grow Your Business with reservtable</h2>
          <hr>
          <p>Tell us a little about you and your restaurant, and we’ll contact you via phone or email to provide information about resertable’s products and services.</p>
          <form role="form" action="/register-restaurant" method="post" enctype="multipart/form-data">
            <fieldset>
              if validations!=null
                <div class="alert alert-danger">
                  each val in validations
                    <li> #{val.message} </li>
                </div>

              <div class="form-group col-lg-6">
                <label class="lbl">Restaurant Name</label>
                <input class="inp" name="restaurantName" value="#{form != null ? form.restaurantName : ''}">
                <p class="help-block alert-danger">#{form != null ? form.getErrors("restaurantName") : ''}</p>
              </div>

              <div class="form-group col-lg-6">
                <label class="lbl">Restaurant Address</label>
                <input class="inp" name="restaurantAddress" value="#{form != null ? form.restaurantAddress : ''}">
                <p class="help-block alert-danger">#{form != null ? form.getErrors("restaurantAddress") : ''}</p>
              </div>

              <div class="form-group col-lg-6">
                <label class="lbl">Restaurant City</label>
                <input class="inp" name="restaurantCity" value="#{form != null ? form.restaurantCity : ''}">
                <p class="help-block alert-danger">#{form != null ? form.getErrors("restaurantCity") : ''}</p>
              </div>

              <div class="form-group col-lg-6">
                <label class="lbl">Cuisine</label>
                <input class="inp" name="restaurantType" value="#{form != null ? form.restaurantType : ''}">
                <p class="help-block alert-danger">#{form != null ? form.getErrors("restaurantType") : ''}</p>
              </div>

              <div class="form-group col-lg-12">
                <label class="lbl">Restaurant Description</label>
                <textarea rows="5" class="textarea" name="restaurantDescription" value="#{form != null ? form.restaurantDescription : ''}"></textarea>
                <p class="help-block alert-danger">#{form != null ? form.getErrors("restaurantDescription") : ''}</p>
              </div>

              <div class="form-group col-lg-6">
                <label class="lbl">E-mail</label>
                <input class="inp" name="email" value="#{form!=null?form.email:''}">
                <p class="help-block alert-danger">#{form != null ? form.getErrors("email") : ''}</p>
              </div>

              <div class="form-group col-lg-6">
                <label class="lbl">Phone Number</label>
                <input class="inp" name="phoneNumber" value="#{form!=null?form.phoneNumber:''}">
                <p class="help-block alert-danger">#{form != null ? form.getErrors("phoneNumber") : ''}</p>
              </div>

              <div class="form-group col-lg-6">
                <label class="lbl">Restaurant Opening Hours</label>
                <input class="inp" name="openingHrs"  type="time" value="#{form != null ? form.openingHrs : ''}">
                <p class="help-block alert-danger">#{form != null ? form.getErrors("openingHrs") : ''}</p>
              </div>

              <div class="form-group col-lg-6">
                <label class="lbl">Restaurant Image</label>
                <input type="file" name="restaurantImage" value="#{form != null ? form.restaurantImage : ''}">
                <p class="help-block alert-danger">#{form != null ? form.getErrors("restaurantImage") : ''}</p>
              </div>

              <div class="form-group col-lg-12">
                <label class="lbl">Restaurant Table</label>
                <div class="row">
                  <div class="form-check form-check-inline col-lg-4">
                    <label class="form-check-label" for="inlineCheckbox1">2 Person</label>
                    <input class="inp" type="number" placeholder="Available Tables" name="twoSeatTables" value="0">
                    <p class="help-block alert-danger">#{form != null ? form.getErrors("twoSeatTables") : ''}</p>
                  </div>
                  <div class="form-check form-check-inline col-lg-4">
                    <label class="form-check-label" for="inlineCheckbox2">4 Person</label>
                    <input class="inp" type="number" placeholder="Available Tables" name="fourSeatTables" value="0">
                    <p class="help-block alert-danger">#{form != null ? form.getErrors("fourSeatTables") : ''}</p>
                  </div>
                  <div class="form-check form-check-inline col-lg-4">
                    <label class="form-check-label" for="inlineCheckbox3">6 Person</label>
                    <input class="inp" type="number" placeholder="Available Tables" name="sixSeatTables" value="0">
                    <p class="help-block alert-danger">#{form != null ? form.getErrors("sixSeatTables") : ''}</p>
                  </div>
                </div>
              </div>

            </fieldset>
            <div class="col-lg-3 pull-right m-t-10">
              <input class="btn btn-rounded btn-green btn-block" value="Register Restaurant" type="submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
