extends base

block body
  <div class="main-banner">
    <div class="container">
      //<div class="pull-left padding-30" style="position: absolute; z-index: 1;top: 50px;">
      //  <i class="fa fa-map-marker text-green fs-18" aria-hidden="true"></i>
      //  <span class="fs-13 fw-500" id="demo"></span>
      //  <script src="http://maps.google.com/maps/api/js?key=AIzaSyC68vK_o3FBLbX5bnvSMHAaADptBCQTIb4"></script>
      //</div>
      <nav class="navbar navbar-inverse navbar-home">
      <div class="container-fluid no-padding">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" style="background-color: #333;"></span>
            <span class="icon-bar" style="background-color: #333;"></span>
            <span class="icon-bar" style="background-color: #333;"></span>
          </button>
          <a class="navbar-brand" href="/home"><img src="/images/rt-b.png" alt="reservtable" class="img-responsive img-res-in"></a>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/contact" class="text-grey-3 fw-600 m-t-15">CONTACT US</a></li>
            <li class="active"><a href="/restaurants" class="text-grey-3 fw-600 m-t-15">RESTAURANTS</a></li>
          </ul>
        </div>
      </div>
      </nav>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="col-lg-12 m-t-30">
        <img class="text-center" src="/#{restaurant.restaurantImage}" width="100%" height="400">
      </div>

      <div class="row m-t-30">
        <div class="col-lg-12 m-t-30">
          <h4 class="fw-600">#{restaurant.restaurantName}</h4>
          <hr>
        </div>


        <div class="col-md-3">
          <p class="fw-500">#{restaurant.restaurantAddress}</p>
          <div>
            <i class="fa fa-phone" aria-hidden="true"></i> : #{restaurant.phoneNumber}<br>
            <i class="fa fa-envelope-o m-t-10" aria-hidden="true"></i> : #{restaurant.email}<br>
            <h5 class="m-t-10">Opening at: #{restaurant.openingHrs}</h5>
          </div>
        </div>
        <div class="col-md-9 bl">
          <form class="m-t-30" role="form" action="/reserve-table/#{restaurant.id}" method="post">
            <div id="fr1">
              <fieldset>
                if validations!=null
                  <div class="alert alert-danger">
                  each val in validations
                    <li> #{val.message} </li>
                  </div>
                <div class="form-group col-lg-6">
                  <label class="lbl">Reservation Date</label><br>
                  <input class="inp" type="date" id="reservationDate" name="reservationDate" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" max="2018-12-31" autofocus placeholder="Reservation Date" value="#{form!=null?form.reservationDate:''}">
                  <p class="help-block alert-danger">#{form != null ? form.getErrors("reservationDate") : ''}</p>
                </div>
                <div class="form-group col-lg-6">
                  <label class="lbl">Time</label><br>
                  <input class="inp" type="time" placeholder="Reservation Time" name="time" min="#{restaurant.openingHrs}" autofocus value="#{form!=null?form.time:''}">
                  <p class="help-block alert-danger">#{form != null ? form.getErrors("time") : ''}</p>
                </div>
                <div class="form-group col-lg-6">
                  <label class="lbl">Number of Guests</label><br>
                  <input class="inp" type="number" placeholder="Number of Guests" name="attendCount" autofocus value="#{form != null ? form.attendCount : ''}">
                  <p class="help-block alert-danger">#{form != null ? form.getErrors("attendCount") : ''}</p>
                </div>
                <div class="col-lg-12 pull-right">
                  <input type="submit" id="submit" class="btn btn-green btn btn-rounded fs-14 pull-right" value="Next">
                </div>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  block script
    script.
      $(document).ready(function () {
        var today = new Date();
        today.setDate(today.getDate() + 1);
        console.log(today);
        var x = document.getElementById("reservationDate").min = today.toISOString().split('T')[0];
      });
