extends base

block body
  <div class="main-banner">
    <div class="container">
      //<div class="pull-left padding-30" style="position: absolute; z-index: 1;top: 50px;">
      //  <i class="fa fa-map-marker text-green fs-18" aria-hidden="true"></i>
      //  <span class="fs-13 fw-500" id="demo"></span>
      //  <script src="http://maps.google.com/maps/api/js?key=AIzaSyC68vK_o3FBLbX5bnvSMHAaADptBCQTIb4"></script>
      //</div>
      <nav class="navbar navbar-inverse navbar-home">
        <div class="container-fluid no-padding">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar" style="background-color: #333;"></span>
              <span class="icon-bar" style="background-color: #333;"></span>
              <span class="icon-bar" style="background-color: #333;"></span>
            </button>
            <a class="navbar-brand" href="/home"><img src="/images/rt-b.png" alt="reservtable" class="img-responsive img-res-in"></a>
          </div>

          <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/contact" class="text-grey-3 fw-600 m-t-15">CONTACT US</a></li>
              <li class="active"><a href="/restaurants" class="text-grey-3 fw-600 m-t-15">RESTAURANTS</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="col-lg-12 m-t-30">
        <img class="text-center" src="/#{restaurant.restaurantImage}" width="100%" height="400">
      </div>

      <div class="row m-t-30">
        <div class="col-lg-12 m-t-30">
          <h4 class="fw-600">#{restaurant.restaurantName}</h4>
          <hr>
        </div>


        <div class="col-md-3">
          <p class="fw-500">#{restaurant.restaurantAddress}</p>
          <div>
            <i class="fa fa-phone" aria-hidden="true"></i> : #{restaurant.phoneNumber}<br>
            <i class="fa fa-envelope-o" aria-hidden="true"></i> : #{restaurant.email}
          </div>
        </div>
        <div class="col-md-9 bl">
          <form class="m-t-30" role="form" action="/reservation/#{restaurant.id}" method="post">
            <div id="fr1">
              <fieldset>
                if validations!=null
                  <div class="alert alert-danger">
                    each val in validations
                      <li> #{val.message} </li>
                  </div>
                <div class="form-group col-lg-6">
                  <label class="lbl">First Name</label><br>
                  <input class="inp" name="firstName" autofocus placeholder="First Name" value="#{form != null ? form.firstName : ''}">
                  <p class="help-block alert-danger">#{form != null ? form.getErrors("firstName") : ''}</p>
                </div>
                <div class="form-group col-lg-6">
                  <label class="lbl">Last Name</label><br>
                  <input class="inp" name="lastName" autofocus placeholder="Last Name" value="#{form != null ? form.lastName : ''}">
                  <p class="help-block alert-danger">#{form != null ? form.getErrors("lastName") : ''}</p>
                </div>
                <div class="form-group col-lg-6">
                  <label class="lbl">Email</label><br>
                  <input class="inp" name="email" autofocus placeholder="Email" value="#{form != null ? form.email : ''}">
                  <p class="help-block alert-danger">#{form != null ? form.getErrors("email") : ''}</p>
                </div>
                <div class="form-group col-lg-6">
                  <label class="lbl">Phone Number</label><br>
                  <input class="inp" Number" name="phoneNumber" autofocus placeholder="Phone Number" value="#{form != null ? form.phoneNumber : ''}">
                  <p class="help-block alert-danger">#{form != null ? form.getErrors("phoneNumber") : ''}</p>
                </div>
                <div class="form-group col-lg-12">
                  <label class="lbl">Note</label><br>
                  <textarea class="inp" rows="10" name="note" autofocus placeholder="Note" value="#{form != null ? form.date : ''}"></textarea>
                  <p class="help-block alert-danger">#{form != null ? form.getErrors("note") : ''}</p>
                </div>
                <div class="col-lg-12 pull-right">
                  <input type="submit" id="submit" class="btn btn-green btn btn-rounded fs-14 pull-right" value="Make Reservation">
                </div>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
