extends base

block body

  <div class="main-banner">
    <div class="container">
    //<div class="pull-left padding-30" style="position: absolute; z-index: 1;top: 50px;">
    //  <i class="fa fa-map-marker text-green fs-18" aria-hidden="true"></i>
    //  <span class="text-white fs-13" id="demo"></span>
    //  <script src="http://maps.google.com/maps/api/js?key=AIzaSyC68vK_o3FBLbX5bnvSMHAaADptBCQTIb4"></script>
    //</div>
    <nav class="navbar navbar-inverse navbar-home">
      <div class="container-fluid no-padding">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home"><img src="images/rt-b.png" alt="reservtable" class="img-responsive" width="80%"></a>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/restaurants">
                        <button class="btn btn-rounded btn-green fs-12 register">BOOK TABLE</button>
                    </a>
                </li>
                <li class="active"><a href="/contact" class="text-grey-3 fw-600 m-t-15">CONTACT US</a></li>
                <li class="active"><a href="/restaurants" class="text-grey-3 fw-600 m-t-15">RESTAURANTS</a></li>
            </ul>
        </div>


      </div>
    </nav>
    </div>
    </div>

    <div id="content">
        <div class="container">
            <div class="col-lg-12 m-t-30">
                <div id="myOverlay" class="overlay">
                  <form action="/search" id="searchForm" method="post">
                    <input type="text" id="searchBox" name="searchBox" placeholder="Search.."">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
                </div>
            </div>


                <div class="col-lg-12 m-t-30">
                    <hr>
                    block searchList
                </div>

        </div>
    </div>

