html, body{
	margin:0;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif !important;
	background: #fff;
}
body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
p{
	color: #929292;
}
a:hover{
	text-decoration:none !important;
}
strike{
	color: #d02e4f;
}
.z-index{
	z-index: 1;
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}
.la-logo{
	padding: 100px 0px 20px 0px;
}
.la-logo a img{
	position: relative;
	margin: auto;
	width: 30%;
	z-index: 1;
}
.finest-text {
	font-size: 40px;
	text-align: left;
	padding: 0px 30px 0px 30px;
	line-height: 1.3em;
	max-width: 550px;
}
.text-pos {
	position: relative;
	top: 150px;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*Second Header*/
.header-container{
	background-color: #171718;
	padding: 70px 0;
}
.inner-nav{
	width: 450px;
	margin: auto !important;
	float: none !important;
}
.la-logo-2 a img{
	position: relative;
	margin: auto;
	width: 20%;
	z-index: 1;
}

/*-- banner --*/
.featured-banner {
	height: 100%;
	/*padding-top: 80px;  Navbar height */
}
.main-banner .featured-banner {
	background:url(../images/bg.jpeg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	position: absolute;
	top: 0;
	right: 0;
}
.main-banner .featured-banner:after {
	background: rgba(0,0,0,.5);
	content:"";
	display: block;
	height: 100%;
	right: 0;
	top: 0;
	position: absolute;
	width: 100%;
}

/*Border*/
.bt{
	border-top: 1px solid #eee;
}
.bb{
	border-bottom: 1px solid #eee;
}
.br{
	border-right: 1px solid #eee;
}
.bl{
	border-left: 1px solid #eee;
}
.no-border{
	border: none !important;
	border-top: none !important;
	border-bottom: none !important;
}

/*Font Transform*/
.uppercase{
	text-transform: uppercase !important;
}
.lowercase{
	text-transform: capitalize !important;
}

/*Font Family*/
.font-opensans{
	font-family: 'Open Sans', sans-serif !important;
}
.font-montserrat{
	font-family: 'Montserrat', sans-serif !important;
}
.font-damion{
	font-family: 'Damion', cursive;
}

/*Font Color*/
.text-white{
	color: #fff !important;
}
.text-grey-light{
	color: #cecece !important;
}
.text-grey{
	color: #929292 !important;
}
.text-grey-2{
	color: #adadad !important;
}
.text-grey-3{
	color: #333 !important;
}
.text-light-blue{
	color: #7c8895 !important;
}
.text-green{
	color: #39b54a !important;
}
.text-dark-blue{
	color: #253b80 !important;
}

/*-- Fonts Size --*/
.fs-11{
	font-size: 11px;
}
.fs-12{
	font-size: 12px;
}
.fs-13{
	font-size: 13px;
}
.fs-14{
	font-size: 14px;
}
.fs-15{
	font-size: 15px;
}
.fs-16{
	font-size: 16px;
}
.fs-17{
	font-size: 17px;
}
.fs-18{
	font-size: 18px;
}

/*-- Fonts Size --*/
.fw-100{
	font-weight: 100 !important;
}
.fw-200{
	font-weight: 200 !important;
}
.fw-300{
	font-weight: 300 !important;
}
.fw-400{
	font-weight: 400 !important;
}
.fw-500{
	font-weight: 500 !important;
}
.fw-600{
	font-weight: 600 !important;
}
.fw-700{
	font-weight: 700 !important;
}
.fw-800{
	font-weight: 800 !important;
}
.fw-900{
	font-weight: 900 !important;
}

/*Background Color*/
.bg-white{
	background-color: #fff;
}
.bg-greyblu{
	background-color: #edf1f5;
}
.bg-grey{
	background-color: #f1f1f1;
}
.bg-black{
	background-color: #000;
}

/*-- Marging --*/
.margin-auto{
	margin: auto;
}
.no-margin{
	margin: 0px !important;
}
.m-t-0{
	margin-top: 0px !important;
}
.m-b-0{
	margin-bottom: 0px;
}
.m-l-0{
	margin-left: 0px;
}
.m-r-0{
	margin-right: 0px;
}
.m-t-5{
	margin-top: 5px !important;
}
.m-b-5{
	margin-bottom: 5px !important;
}
.m-l-5{
	margin-left: 5px !important;
}
.m-r-5{
	margin-right: 5px !important;
}
.m-t-10{
	margin-top: 10px !important;
}
.m-b-10{
	margin-bottom: 10px !important;
}
.m-l-10{
	margin-left: 10px !important;
}
.m-r-10{
	margin-right: 10px !important;
}
.m-t-15{
	margin-top: 15px !important;
}
.m-b-15{
	margin-bottom: 15px !important;
}
.m-l-15{
	margin-left: 15px !important;
}
.m-r-15{
	margin-right: 15px !important;
}
.m-t-20{
	margin-top: 20px;
}
.m-b-20{
	margin-bottom: 20px;
}
.m-l-20{
	margin-left: 20px;
}
.m-r-20{
	margin-right: 20px;
}
.m-t-25{
	margin-top: 25px;
}
.m-b-25{
	margin-bottom: 25px;
}
.m-t-30{
	margin-top: 30px;
}
.m-b-30{
	margin-bottom: 30px;
}
.m-l-30{
	margin-left: 30px;
}

/*-- Padding --*/
.p-l-0{
	padding-left: 0px !important;
}
.p-r-0{
	padding-right: 0px !important;
}
.no-padding{
	padding: 0px !important;
}
.padding-5{
	padding: 5px !important;
}
.padding-10{
	padding: 10px !important;
}
.padding-15{
	padding: 15px !important;
}
.padding-20{
	padding: 20px !important;
}
.padding-25{
	padding: 25px !important;
}
.padding-30{
	padding: 30px !important;
}
.padding-35{
	padding: 35px !important;
}
.padding-40{
	padding: 40px !important;
}
.padding-45{
	padding: 45px !important;
}
.padding-50{
	padding: 50px !important;
}


.xs-p-t-0 {
	padding-top: 0px !important;
}
.xs-p-r-0 {
	padding-right: 0px !important;
}
.xs-p-l-0 {
	padding-left: 0px !important;
}
.xs-p-b-0 {
	padding-bottom: 0px !important;
}
.xs-padding-0 {
	padding: 0px !important;
}
.xs-p-t-5 {
	padding-top: 5px !important;
}
.xs-p-r-5 {
	padding-right: 5px !important;
}
.xs-p-l-5 {
	padding-left: 5px !important;
}
.xs-p-b-5 {
	padding-bottom: 5px !important;
}
.xs-padding-5 {
	padding: 5px !important;
}
.xs-p-t-10 {
	padding-top: 10px !important;
}
.xs-p-r-10 {
	padding-right: 10px !important;
}
.xs-p-l-10 {
	padding-left: 10px !important;
}
.xs-p-b-10 {
	padding-bottom: 10px !important;
}
.xs-padding-10 {
	padding: 10px !important;
}
.xs-p-t-15 {
	padding-top: 15px !important;
}
.xs-p-r-15 {
	padding-right: 15px !important;
}
.xs-p-l-15 {
	padding-left: 15px !important;
}
.xs-p-b-15 {
	padding-bottom: 15px !important;
}
.xs-padding-15 {
	padding: 15px !important;
}

.xs-m-t-5 {
	margin-top: 5px !important;
}
.xs-m-r-5 {
	margin-right: 5px !important;
}
.xs-m-l-5 {
	margin-left: 5px !important;
}
.xs-m-b-5 {
	margin-bottom: 5px !important;
}
.xs-m-t-10 {
	margin-top: 10px !important;
}
.xs-m-r-10 {
	margin-right: 10px !important;
}
.xs-m-l-10 {
	margin-left: 10px !important;
}
.xs-m-b-10 {
	margin-bottom: 10px !important;
}
.xs-m-t-15 {
	margin-top: 15px !important;
}
.xs-m-r-15 {
	margin-right: 15px !important;
}
.xs-m-l-15 {
	margin-left: 15px !important;
}

@media (min-width: 768px) {
	.sm-p-t-0 {
		padding-top: 0px !important;
	}
	.sm-p-r-0 {
		padding-right: 0px !important;
	}
	.sm-p-l-0 {
		padding-left: 0px !important;
	}
	.sm-p-b-0 {
		padding-bottom: 0px !important;
	}
	.sm-padding-0 {
		padding: 0px !important;
	}
	.sm-p-t-5 {
		padding-top: 5px !important;
	}
	.sm-p-r-5 {
		padding-right: 5px !important;
	}
	.sm-p-l-5 {
		padding-left: 5px !important;
	}
	.sm-p-b-5 {
		padding-bottom: 5px !important;
	}
	.sm-padding-5 {
		padding: 5px !important;
	}
	.sm-p-t-10 {
		padding-top: 10px !important;
	}
	.sm-p-r-10 {
		padding-right: 10px !important;
	}
	.sm-p-l-10 {
		padding-left: 10px !important;
	}
	.sm-p-b-10 {
		padding-bottom: 10px !important;
	}
	.sm-padding-10 {
		padding: 10px !important;
	}
	.sm-p-t-15 {
		padding-top: 15px !important;
	}
	.sm-p-r-15 {
		padding-right: 15px !important;
	}
	.sm-p-l-15 {
		padding-left: 15px !important;
	}
	.sm-p-b-15 {
		padding-bottom: 15px !important;
	}
	.sm-padding-15 {
		padding: 15px !important;
	}

	.sm-m-t-5 {
		margin-top: 5px !important;
	}
	.sm-m-r-5 {
		margin-right: 5px !important;
	}
	.sm-m-l-5 {
		margin-left: 5px !important;
	}
	.sm-m-b-5 {
		margin-bottom: 5px !important;
	}
	.sm-m-t-10 {
		margin-top: 10px !important;
	}
	.sm-m-r-10 {
		margin-right: 10px !important;
	}
	.sm-m-l-10 {
		margin-left: 10px !important;
	}
	.sm-m-b-10 {
		margin-bottom: 10px !important;
	}
	.sm-m-t-15 {
		margin-top: 15px !important;
	}
	.sm-m-r-15 {
		margin-right: 15px !important;
	}
	.sm-m-l-15 {
		margin-left: 15px !important;
	}
}

@media (min-width: 992px) {
	.md-p-t-0 {
		padding-top: 0px !important;
	}
	.md-p-r-0 {
		padding-right: 0px !important;
	}
	.md-p-l-0 {
		padding-left: 0px !important;
	}
	.md-p-b-0 {
		padding-bottom: 0px !important;
	}
	.md-padding-0 {
		padding: 0px !important;
	}
	.md-p-t-5 {
		padding-top: 5px !important;
	}
	.md-p-r-5 {
		padding-right: 5px !important;
	}
	.md-p-l-5 {
		padding-left: 5px !important;
	}
	.md-p-b-5 {
		padding-bottom: 5px !important;
	}
	.md-padding-5 {
		padding: 5px !important;
	}
	.md-p-t-10 {
		padding-top: 10px !important;
	}
	.md-p-r-10 {
		padding-right: 10px !important;
	}
	.md-p-l-10 {
		padding-left: 10px !important;
	}
	.md-p-b-10 {
		padding-bottom: 10px !important;
	}
	.md-padding-10 {
		padding: 10px !important;
	}
	.md-p-t-15 {
		padding-top: 15px !important;
	}
	.md-p-r-15 {
		padding-right: 15px !important;
	}
	.md-p-l-15 {
		padding-left: 15px !important;
	}
	.md-p-b-15 {
		padding-bottom: 15px !important;
	}
	.md-padding-15 {
		padding: 15px !important;
	}

	.md-m-t-5 {
		margin-top: 5px !important;
	}
	.md-m-r-5 {
		margin-right: 5px !important;
	}
	.md-m-l-5 {
		margin-left: 5px !important;
	}
	.md-m-b-5 {
		margin-bottom: 5px !important;
	}
	.md-m-t-10 {
		margin-top: 10px !important;
	}
	.md-m-r-10 {
		margin-right: 10px !important;
	}
	.md-m-l-10 {
		margin-left: 10px !important;
	}
	.md-m-b-10 {
		margin-bottom: 10px !important;
	}
	.md-m-t-15 {
		margin-top: 15px !important;
	}
	.md-m-r-15 {
		margin-right: 15px !important;
	}
	.md-m-l-15 {
		margin-left: 15px !important;
	}
}


/*-- nav --*/
.navbar {
	border-radius: 0px !important;
	border:none !important;
	padding: 15px;
}
.navbar {
	margin-bottom: 0 !important;
}
.navbar-nav {
	margin: 7.5px -15px !important;
}
/* navbar home */
.navbar.navbar-home {
	z-index: 1;
}
.navbar-collapse {
	padding: 0 !important;
}
.navbar-right {
	margin-right: 0 !important;
}
.navbar-nav>li>a{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
.navbar-nav>li>a {
	color: #fff;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: transparent !important;
}
.navbar-inverse .navbar-toggle {
	border: none;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: transparent !important;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 0 !important;
}
.nav>li>a {
	padding: 15px 15px !important;
}
.navbar-inverse {
	background-color: rgba(34, 34, 34, 0) !important;
	border-color: #ffffff !important;
}
.navbar-inverse .navbar-brand {
	color: #ffffff !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #cadcef;
	background-color: transparent !important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: transparent !important;
}
.navbar-inverse .navbar-toggle {
	border: none;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: transparent !important;
}
.nav>li>a {
	padding: 15px 30px !important;
}

.navbar-third li a{
	color: #7c8895 !important;
}
.navbar-third>li>a:focus, .navbar-third>li>a:hover {
	text-decoration: none;
	color: #1359a4 !important;
}
.dropdown-menu{
	border-radius: 0px !important;
	border: 1px solid rgba(255, 255, 255, 0.15) !important;
}
.dropdown ul.dropdown-menu:before {
	content: "";
	border-bottom: 10px solid rgb(255, 255, 255);
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	top: -10px;
	right: 16px;
	z-index: 10;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #929292 !important;
	text-decoration: none;
	background: none !important;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background: none !important;
}
.img-res{
	width: 80%;
}
.img-res-in{
	width: 80%;
}
/*-- Button --*/
.btn.active, .btn:active, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	text-decoration: none;
	box-shadow: none !important;
	outline: none !important;
}
.btn-rounded{
	border-radius: 22px !important;
	color: #fff;
}
.btn-green{
	color: #ffffff;
	background: #39b54a;
	padding: 10px 38px !important;
	height: 44px;
}
.btn-green-line{
	color: #ffffff;
	border: 2px solid !important;
	border-color: #39b54a !important;
	background: #39b54a;
	padding: 10px 38px !important;
}
.btn-green:hover, .btn-green:focus{
	color: #ffffff !important;
	background: rgba(57, 181, 74, 0.9);
	padding: 10px 38px !important;
}
.btn-green-line:hover, .btn-green-line:focus{
	background-color: rgba(57,181,74,0) !important;
	border-color: #ffffff !important;
	color: #ffffff !important;
}
.btn-white{
	border: 1px solid #aeaeae !important;
	background-color: #fff;
	color: #9b9b9b;
	font-weight: 400 !important;
}

/*-- Form --*/
.sel {
	width: 100%;
	height: 35px;
	padding: .3em 1em;
	font-size: 13px;
	outline: none;
	text-transform: capitalize;
	border: 1px solid rgb(187, 187, 187);
}
.inp {
	width: 100%;
	height: 35px;
	padding: .3em 1em;
	font-size: 12px !important;
	font-weight: 400 !important;
	outline: none;
	border-radius: 0px !important;
	box-shadow: none !important;
	border: 1px solid rgb(187, 187, 187) !important;
}
.lbl {
	color: #555555;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 400;
	font-size: 11px;
}
label {
	margin-bottom: 10px !important;
	font-weight: 500 !important;
}
.textarea{
	width: 100%;
	padding: .3em 1em;
	font-size: 12px !important;
	font-weight: 400 !important;
	height: auto;
	outline: none;
	border: 1px solid rgb(187, 187, 187);
}
.input-group-addon {
	background: #f0f0f0;
	border: none !important;
	color: rgba(98, 98, 98, 0.47);
	padding: 6px 9px !important;
	display: table-cell;
	border-radius: 3px;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s, color 0.2s linear 0s, box-shadow 0.2s linear 0s, background 0.2s linear 0s;
}
label .req1 {
	margin: 5px;
	line-height: 11px;
	font-size: 18px;
	color: #b11a1a;
}
button[disabled], html input[disabled] {
	cursor: default;
	background-color: #d4d4d4;
}
.option-txt-grey{
	color: #9b9b9b !important;
}
input:focus, textarea:focus, .form-control:focus {
	outline: 0 !important;
	border-color: rgb(185, 245, 193) !important;
}
.alert-danger {
	color: #ea1914 !important;
	font-size: 12px;
	font-weight: 500;
	background-color: #fff !important;
	border-color: #fff !important;
}

/*Table*/
.table>thead>tr>th {
	font-weight: 500;
}
.table>tbody>tr {
	font-size: 13px;
}
.table tbody tr td {
	border-top: 0px;
	padding: 14px !important;
}
.payCon .table tbody tr td{
	border-top: none !important;
	border-bottom: none !important;
}

.fc-toolbar h2 {
	margin: 0;
	font-size: 24px;
}

footer {
	background-color: #171718;
	padding: 20px 0;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card{
	color:#222;
	/*height:290px;*/
	top:60px; left:0; right:0; bottom:0;
	margin:auto;
	box-shadow: 0px 30px 30px -20px rgba(0,0,0,0.2);
	transition:all .2s cubic-bezier(1,.4,.4,.6);
	background:
			linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 37%,rgba(255,255,255,1) 100%);
}
.card:hover{
	cursor: pointer;
	bottom:-10px;
	box-shadow: 0px 20px 20px -15px rgba(0,0,0,0.2);
}

.card > .box {
	box-shadow: 0px -10px 35px -5px rgba(0,0,0,0.06);
	transition: all .4s cubic-bezier(1,.4,.4,1);
	background: #fff;
}

.card > .box > img {
	position: absolute;
	top: -50px;
	left: 0px;
	width: 100%;
	height: 75%;
}

.card > .box > .text-block {
	position: relative;
	bottom: 0px;
	padding: 20px;
}
.card > .box > .text-block > .title{
	font-size: 1.2em;
	font-weight: 600;
 }
.card > .box > .text-block > .price{margin:6px 0 0 0; font-size: .8em;}
.card > .box > .text-block > .price > .old{text-decoration: line-through;color:#a6a6a6; font-size: .75em;display: inline-block; margin-right:4px;}
.card > .box > .text-block > .description{color:#a6a6a6; font-size: .8em;}

.card > .buttons {transition:all .2s cubic-bezier(1,.4,.4,.6);
	position:absolute; bottom:-10px; width:50%; left:25%; text-align: center; opacity:0;}
.card:hover .buttons{bottom:-18px; opacity:1;}
.card > .buttons > a {
	font-size: .9em;
	width: 2.5em; height: 2.5em;
	display: inline-block;
	padding:.7em;
	border-radius: 100%;
	background: #d40000;
	color:#fff;
	text-decoration: none;
	transition:all .2s cubic-bezier(1,.4,.4,1);
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
}
.card > .buttons > a:hover{
	background: #9e0000;
}

/*Search*/
.openBtn {
	cursor: pointer;
}

.overlay {
  width: 100%;
  z-index: 1;
  top: 100px;
  left: 0;
}

.overlay-content {
	position: relative;
	top: 46%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 25px;
	cursor: pointer;
	color: white;
}

.overlay .closebtn:hover {
	color: #ccc;
}

.overlay input[type=text] {
	padding: 15px;
	font-size: 17px;
	border: none;
	float: left;
	width: 85%;
	background: #f5f5f5;
}

.overlay input[type=text]:hover {
	background: #f1f1f1;
}

.overlay button {
	float: left;
	width: 15%;
	padding: 9.5px;
	background: #ddd;
	font-size: 25px;
	border: none;
	cursor: pointer;
}

.overlay button:hover {
	background: #bbb;
}
